.about-us{
    color: #9f1f19;
    //margin-left: 5%;
    background-color: rgb(204, 198, 198);
  //  background-image: url("../../assets/images/home-bg.1e271979b7c657dee1b0.jpg");
}
.abt-img{
  width: 450px;
  margin-left: 25%;

}
p{
  margin-left:10%;
}
h3{
  margin-left: 10%;
}