<div class="about-us">

        <div fxLayout="row" fxLayoutAlign="start center" >
                
                <div fxFlex="50%"    class="two_one">
                        <h3>
                                Natural Human Hair Wholesale Chennai
                        </h3><br>
                    <p >HairCraft has entered the human hair extension sales industry in the year 2015. Our main business processes involve exporting, supplying, and trading of different types of hair extensions on-line to our clients across the world including overseas countries like UK, US, Australia, China, Denmark, France, Netherlands, New Zealand, and Norway. Being a responsible Exporter, Trader, and Supplier in India, we ensure that we deal with only 100% natural hair products.</p>
                </div>
                <!-- <div fxFlex="10%"    class="two_one"></div> -->
                <div fxFlex="50%"    class="two_one">
                        <img class="abt-img" src="../../assets/images/ladyblackpng.png">
                </div>
        </div>

</div>