<div class="products">
        <h1>Our Products</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat at.</p>
        <br><br>
        <mdb-carousel [isControls]="false" [animation]="'slide'">
            <mdb-carousel-item>
                <div fxLayout="row" fxLayoutAlign="space-around center" >
                    <div fxFlex="30%"    class="two_one">
                      <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Indian Hair</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../assets/images/Raw-Indian-Curly-Bulk-Hair.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                        <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat at.     
                      </p>
                      
                      </mat-card-content>
                      <hr>
                      <mat-card-actions>
                        <button mat-button>Copy Link</button>
                        <button mat-button>SHARE</button>
                      </mat-card-actions>
                  </mat-card>
                  </div>
                  <div fxFlex="30%"    class="two_one">
                      <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Indian Hair</mat-card-title>
                          <mat-card-subtitle>Raw Indian Stright Hair</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../assets/images/Raw-Indian-Straight-Hair.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                        <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat at.
                      </p>
                      
                      </mat-card-content>
                      <hr>
                      <mat-card-actions>
                        <button mat-button>Copy Link</button>
                        <button mat-button>SHARE</button>
                      </mat-card-actions>
                  </mat-card>
                  </div>
                  <div fxFlex="30%"    class="two_one">
                      <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Indian Hair</mat-card-title>
                          <mat-card-subtitle>Raw Indian Curly Hair</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../assets/images/Raw-Indian-Curly-Bulk-Hair.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                        <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat at.
                      </p>
                      
                      </mat-card-content>
                      <hr>
                      <mat-card-actions>
                        <button mat-button>Copy Link</button>
                        <button mat-button>SHARE</button>
                      </mat-card-actions>
                  </mat-card>
                  </div>
                </div>
            </mdb-carousel-item>




            

        </mdb-carousel>
        
      </div>