.products{
   margin-left: 5%;
    color: black;

}
p{
    color:#9f1f19;
}
mat-card{
  color:#9f1f19;
  font-family: 'Josefin Sans', sans-serif !important;
}
ul {
    list-style: none;
    color:#9f1f19;
  }
  
  ul li:before {
    content: '✓';
  }
  h1{
    color:#9f1f19;
  }