.products{
   margin-left: 5%;
    color: #9f1f19;

}
.card-size{
  height: 200px;
  width: 110px;
}
.owl-theme .owl-nav [class*=owl-] {
  background-color: #ffffff
}
p{
    color:#9f1f19;
}
b{
  color:#9f1f19;
  font-size: 25px;
}
mat-card{
  color:#9f1f19;
  font-family: 'Josefin Sans', sans-serif !important;
}
.product-header{
  margin-left: 40%;
}
ul {
    list-style: none;
    color:#9f1f19;
    
  }
  
  ul li:before {
    content: '✓';
    
  }
  h1{
    color:#9f1f19;
  }
  // li{
  //   display: inline;
  // }