<div class="products">
        <h1>Our Products</h1>
        
        
      </div>
    
      <owl-carousel-o [options]="customOptions">
      
      <ng-template carouselSlide>
      <div class="product-header"><b>Indian Human Hair</b></div>
      <br>
                <div fxLayout="row" fxLayoutAlign="space-around center" >
                    <div fxFlex="100%"    class="two_one" >
                      <mat-card class="example-card" >
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                         
                          
                        </mat-card-header>
                        <div fxLayout="row" fxLayoutAlign="space-around center" >
                        <div fxFlex="25%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Indian Human Hair/IMG-20190907-WA0039.jpg"></div>
                        <div fxFlex="25%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Indian Human Hair/IMG-20190907-WA0040.jpg"></div>
       
                        <div fxFlex="25%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Indian Human Hair/IMG-20190907-WA0042.jpg"></div>
                      </div>
                        <mat-card-content>
                        <p>
                            <br>
                            Indian Human Hair available here is specially refined to resist tangling, colour fading, and shedding.  
                            <br>
                      
                        </p>
                      
                      </mat-card-content>
                      <hr>
                      <mat-card-actions>
                        
                        <button mat-button>SHARE</button>
                      </mat-card-actions>
                  </mat-card>
                  </div>
                 
                </div>
        
      </ng-template>  
      
      <ng-template carouselSlide>
          <div class="product-header"><b>Indian Temple Hair</b><br></div>
          <div fxLayout="row" fxLayoutAlign="space-around center" >
              <div fxFlex="100%"    class="two_one" >
                <mat-card class="example-card" >
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                  
                    
                  </mat-card-header>
                  <div fxLayout="row" fxLayoutAlign="space-around center" >
                  <div fxFlex="20%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Indian Temple hair/IMG-20190907-WA0047.jpg"></div>
                  <div fxFlex="20%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Indian Temple hair/IMG-20190907-WA0048.jpg"></div>
                  <div fxFlex="20%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Indian Temple hair/IMG-20190907-WA0054.jpg"></div>
                  <div fxFlex="20%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Indian Temple hair/IMG_20190912_083027.jpg"></div>
                </div>
                  <mat-card-content>
                  
                      <br>
                      <p> Indian temple hair is a no blinder. This sourced from temples where people devote them, thus, a pure, that is, virgin hair.                      </p> 
                <br>
                
                
                </mat-card-content>
                <hr>
                <mat-card-actions>
                  
                  <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            </div>
        </div>

      
      
      </ng-template>

      <ng-template carouselSlide>
          <div class="product-header"><b>Weft Hair</b></div><br>
          <div fxLayout="row" fxLayoutAlign="space-around center" >
              <div fxFlex="100%"    class="two_one" >
                <mat-card class="example-card" >
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <!-- <mat-card-title>Indian Temple Hair</mat-card-title> -->
                    
                  </mat-card-header>
                  <div fxLayout="row" fxLayoutAlign="space-around center" >
                  <div fxFlex="25%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Weft Hair/image1.jpeg"></div>
                  <div fxFlex="25%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Weft Hair/image2.jpeg"></div>
                  <div fxFlex="25%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Weft Hair/image3.jpg"></div>
                 
                </div>
                <br><br>
                <mat-card-content>
                    <p>
                      Weft hair that is the long strips of hair aligned and tied at the top either by machine or by hand.
                    </p> 
                    <ul>
                      <li>Remy Single Weft Hair</li>
                        <li>Remy Double Weft Hair</li>
                        <li>Machine Weft Curly Hair</li>
                        <li>Machine Weft Straight Hair</li>
                        <li> Machine Weft Weavy Hair</li>
                      </ul>
                     
                 
                  
                  </mat-card-content>
                <hr>
                <mat-card-actions>
                  
                  <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            </div>
        </div>

      </ng-template>
     

      <ng-template carouselSlide>
          <div class="product-header"><b>Remy Single Drawn Hair</b><br></div>
          <div fxLayout="row" fxLayoutAlign="space-around center" >
              <div fxFlex="100%"    class="two_one" >
                <mat-card class="example-card" >
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                  
                    
                  </mat-card-header>
                  <div fxLayout="row" fxLayoutAlign="space-around center" >
                 
                  <div fxFlex="20%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/remi/image1.jpeg"></div>
                  <div fxFlex="20%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/remi/image2.jfif"></div>
                  <div fxFlex="20%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/remi/image3.jfif"></div>
                  <div fxFlex="20%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/remi/image4.jfif"></div>
                </div>
                  <mat-card-content>
                  
                      <br><br>
                     
                      <p>
                          Remy Single Drawn Hair is made from virgin and drawn to provide hair extension.
                      </p>
                         
                          <ul>
                            <li>Remy Single Drawn Curly Hair</li>
                              <li>Remy Single Drawn Wavy Hair</li>
                              <li>Remy Single Drawn Straight Hair</li>
          
                          </ul>
                     
                    
                <br><br>
                
                
                </mat-card-content>
                <hr>
                <mat-card-actions>
                  
                  <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            </div>
        </div>

      
      
      </ng-template>

      <ng-template carouselSlide>
          <div class="product-header"><b>Frontal & Closure</b><br></div>
          <div fxLayout="row" fxLayoutAlign="space-around center" >
              <div fxFlex="100%"    class="two_one" >
                <mat-card class="example-card" >
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                  
                    
                  </mat-card-header>
                  <div fxLayout="row" fxLayoutAlign="space-around center" >
                  <div fxFlex="20%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Frontal & Closure/image1.jpg"></div>
                  <div fxFlex="20%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Frontal & Closure/image2.jpg "></div>
                  <div fxFlex="20%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Frontal & Closure/image3.jpg "></div>
                  <div fxFlex="20%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Frontal & Closure/image4.jpg"></div>
                </div>
                  <mat-card-content>
                  
                      <p>
                          <br><br>
                          Frontal & Closure hair type has its own quality and sheen as well as demand from customers across the globe..
                          <br><br>
                      </p>
                      
                
                
                </mat-card-content>
                <hr>
                <mat-card-actions>
                  
                  <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            </div>
        </div>

      
      
      </ng-template>

      <ng-template carouselSlide>
          <div class="product-header"><b>Blonde Hair</b><br></div>
          <div fxLayout="row" fxLayoutAlign="space-around center" >
              <div fxFlex="100%"    class="two_one" >
                <mat-card class="example-card" >
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                  
                    
                  </mat-card-header>
                  <div fxLayout="row" fxLayoutAlign="space-around center" >
                  <div fxFlex="20%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Blonde/image1.jpeg"></div>
                  <div fxFlex="20%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Blonde/image2.jpeg"></div>
                  <div fxFlex="20%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Blonde/image3.jfif"></div>
                  <div fxFlex="20%"    class="two_one" > <img mat-card-image class="card-size"  src="../../assets/images/Blonde/image4.jfif"></div>
                </div>
                  <mat-card-content>
                  
                      
                          <p>
                              <br>
                              The demand for blonde hair is ever increasing in the international market from Indian hair industry.
                          </p>
                              <ol>
                                Blonde Weft Hair
                                Single Drawn Blonde Hair
                              </ol>
                   
                      
                
                
                </mat-card-content>
                <hr>
                <mat-card-actions>
                  
                  <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            </div>
        </div>

      
      
      </ng-template>

      <!-- <ng-template carouselSlide>Slide 2</ng-template>  
      <ng-template carouselSlide>Slide 3</ng-template>  
      <ng-template carouselSlide>Slide 1</ng-template>  
      <ng-template carouselSlide>Slide 2</ng-template>  
      <ng-template carouselSlide>Slide 3</ng-template>  
      <ng-template carouselSlide>Slide 1</ng-template>  
      <ng-template carouselSlide>Slide 2</ng-template>  
      <ng-template carouselSlide>Slide 3</ng-template>   -->
    </owl-carousel-o>
   