#home-header{
    position: absolute;
    width: 100%;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    padding: 22px 0;
    transition: padding .3s linear;
    -webkit-transition: padding .3s linear;
    z-index: 999;
}
.bgimage{
    background : rgb(217, 229, 235);
    //background-image: url("../assets/images/file.jpg");
    width: 100%;
    height: 60%;
    //color: rgb(208, 112, 211);
   // position: relative;
}
.menu-align{
  margin-left: -150px;
}
.logo{
    width: 170px;
    //margin-left: -398px;
    //height: 70px;
    //position: relative;
    //float: left;
}
.text-block {
    position: absolute;
   // bottom: 20px;
   // right: 20px;
   // background-color: black;
    color: rgb(241, 196, 111);
    width: 43%;
    padding-left: 1%;
    top:220px;
  //  padding-top:10%;
    //padding-right: 20px;
  }
*{
     font-family: 'Josefin Sans', sans-serif;
     //color: palevioletred
     //color:whitesmoke;
}

  .mat-toolbar{
    z-index: 1000;
  }
// .banner{
//     width: 40%;
//     height: 30%;
//     top:25%;
//     left:130px;
//     position: absolute;
// }

// .image {
//   background-image: url('../assets/images/file.jpg');
//   width: 100%;
// }