 
     <mat-toolbar style="color: palevioletred; position: fixed" >
    <!--   <div fxLayout="row-reverse" fxFlexFill fxfxLayoutAlign="end">
          <div fxFlex="10%"    class="two_one">9629348181</div>
      </div> -->
      <div fxLayout="row" fxFlexFill fxLayoutAlign="center">
              <button mat-button [matMenuTriggerFor]="menu"><div fxFlex="15%"    class="two_one">Home</div></button>
              <mat-menu #menu="matMenu">
                      <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
              </mat-menu>
            <button mat-button [matMenuTriggerFor]="menu"><div fxFlex="15%"    class="two_one">About</div></button>
            <mat-menu #menu="matMenu">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menu"><div fxFlex="15%"    class="two_one">Products</div></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
          <button mat-button [matMenuTriggerFor]="menu"><div fxFlex="15%"    class="two_one">Gallery</div></button>
          <mat-menu #menu="matMenu">
               <button mat-menu-item>Item 1</button>
               <button mat-menu-item>Item 2</button>
          </mat-menu>
        <button mat-button [matMenuTriggerFor]="menu"><div fxFlex="15%"    class="two_one">Blog</div></button>
        <mat-menu #menu="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      
    </mat-toolbar>
    <div class="bgimage">
      <div fxLayout="row" fxLayoutAlign="start center" >
       <div fxFlex="35%"    class="two_one">
        <h1>HUMAN HAIR EXPORTER</h1><br><br>
        <p>Highly supposed for Good quality, Good service , Viable pricing & fast delivery! A well-known vendor in Hair Industry who can ensure transparency in all our business procedures. We believe that an organization's long term success and growth solely relies on its product quality. We will be internationally solid and reliable potential partner. Excellent quality, competitive prices, prompt delivery and depndable service are guaranteed by our organization.</p>
        <!-- <button mat-menu-item>Learn More</button> -->
      </div>
      <div fxFlex="10%"    class="two_one"></div>
      <div fxFlex="55%"    class="two_one">
          <img src="../assets/images/new1.png">
        </div>
      </div>
    </div>
    <!-- <div style="width"></div> -->
    <app-our-products></app-our-products>
    <br><hr>
    <app-send-email></app-send-email>

    <br><br>
    <!-- <div fxLayout="row" fxLayoutAlign="start center" >
        <button mat-stroked-button color="accent">Accent</button>
    </div> -->
    
   


<router-outlet></router-outlet>