 
     <mat-toolbar style="color: white; position: fixed;background-color: #9f1f19;" >
    <!--   <div fxLayout="row-reverse" fxFlexFill fxfxLayoutAlign="end">
          <div fxFlex="10%"    class="two_one">9629348181</div>
      </div> -->
      
      <div fxLayout="row" fxLayoutAlign="start none" >
          <div><img class="logo" src="../assets/images/logo/haircraft435.25_gold.png"></div>
      </div>
      <div fxLayout="row" class="menu-align" fxFlexFill fxLayoutAlign="center center">
       

              <button mat-button [scrollTo]="'#home'" [scrollDuration]="1000" [scrollOffset]="-100"><div fxFlex="15%"    class="two_one">Home</div></button>
            
              <button mat-button  [scrollTo]="'#products'" [scrollDuration]="1000" [scrollOffset]="-100"><div fxFlex="15%"    class="two_one">Products</div></button>
              
            <button mat-button  [scrollTo]="'#about'" [scrollDuration]="1000" [scrollOffset]="-100"><div fxFlex="15%"    class="two_one">About</div></button>
            
            
            
          <button mat-button  [scrollTo]="'#contactus'" [scrollDuration]="1000" [scrollOffset]="-100"><div fxFlex="15%"    class="two_one">Contact Us</div></button>
          
       
       
      </div>
      
    </mat-toolbar>
    <div class="bgimage" id="home">
        <img src="../assets/images/haircraftposter3-min.jpg" style="width:100%;">
      <div>
          <div class="text-block">
              <h1>Natural Hair Merchandiser</h1><br><br>
              <p>Highly supposed for Good quality, Good service , Viable pricing & fast delivery! A well-known vendor in Hair Industry who can ensure  transparency in all our business procedures. We believe that an organization's long term success and growth solely relies on its product quality. We will be internationally solid and reliable potential partner. Excellent quality, competitive prices, prompt delivery and dependable service are guaranteed by our organization.</p>
          </div>
       <!-- <div fxFlex="35%"    class="two_one">
        
       
      </div>
      <div fxFlex="10%"    class="two_one"></div> -->
<!--       <div fxFlex="55%"    class="two_one">
          <img src="../assets/images/file.jpg">
        </div> -->
      </div>
    </div>
    <!-- <div style="width"></div> -->
    <br>
    <div id="products">
      <app-our-products></app-our-products>
    </div>
 
    
    
    <div id="about">
      <app-about-us></app-about-us>
    
    </div>
    <div id="contactus">
      <app-send-email></app-send-email>
    </div>
    <app-app-footer></app-app-footer>
    
    <!-- <div fxLayout="row" fxLayoutAlign="start center" >
        <button mat-stroked-button color="accent">Accent</button>
    </div> -->
    
   

<div class="image"></div>
<router-outlet></router-outlet>