<div class="mail">
   <div fxLayout="row" fxLayoutAlign="space-between center" >
        <div fxFlex="5%"></div>
       <div fxFlex="28%">
               <!-- <img class="logo" src="../../assets/images/haircraftlogo1.png"> -->
               <img class="logo" src="../assets/images/logo/haircraft435.25_gold.png">
             
              
               
              
               
       </div>
       <div fxFlex="33%" class="contact-font">
            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.69987562312!2d80.22222300213372!3d13.054765868674103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5266f3039536af%3A0x8f4c8edf52074c58!2s3rd%20Cross%20St%2C%20Trustpuram%2C%20Kodambakkam%2C%20Chennai%2C%20Tamil%20Nadu%20600024!5e0!3m2!1sen!2sin!4v1572777715559!5m2!1sen!2sin" width="380" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe><br>
            <b>Address</b><br>
                NO:1-A, 3rd cross street,<br>
                Trustpuram,
                kodambakkam<br>
                Chennai-600024.
                <br>
                <b> Contact Us</b> haircraft.india.expo@gmail.com
                <img class="whatsapp_img" src="../../assets/images/wahtsapp.png"> +91 8939929944/8870201484

                <img class="qrcode" src="../../assets/images/QR_Code_1572783272.png"><br>
                      </div>
       
       <div fxFlex="45%" >
                <h1>Send Us An Email</h1>
                <p>Log your Query/input over here</p>
               
                                <form [formGroup]="formInfo" (ngSubmit)="contactForm(form.value)" #form="ngForm">
                                 <div>
                                    <mat-form-field class="example-full-width">
                                        <input  matInput  formControlName="name" placeholder="Your Name" ngModel>
                                    </mat-form-field>
                                    <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-warning">
                                      <p *ngIf="name.errors.required">Error!</p>
                                      <p *ngIf="name.errors.minlength">Minimum 3 Chars!</p>
                                    </div> -->
                                </div>
                                <div>
                                
                                    <mat-form-field class="example-full-width">
                                        <input  matInput type="email"  placeholder="Your Email Id"formControlName="email" ngModel>
                                   </mat-form-field>
                                    <!-- <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-warning">
                                      <p *ngIf="email.errors.required">Error!</p>
                                      <p *ngIf="email.errors.email">E-mail Incorrect</p>
                                    </div> -->
                                </div>
                                <div>
                                <mat-form-field class="example-full-width">
                                    <input matInput  formControlName="contactNum" ngModel placeholder="Your Contact Number">
                                </mat-form-field>  
                                </div>
                                <div>
                                <mat-form-field class="example-full-width">
                                    <textarea formControlName="message" matInput placeholder="Query/Inquiry" cols="30" rows="5" ngModel></textarea>
                                </mat-form-field> 
                                </div>  
                                <br>
                                <div fxLayout="row" fxLayoutAlign="center center" >
                                <div fxFlex="55%">
                                         <button  [disabled]="form.invalid" mat-raised-button color="accent">Submit Query / Request </button>
                                  <!-- <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit Query / Request</button> -->
                                </div>
                                </div>
                                </form>
        </div>
       </div>
     
      

<br><br>
</div>
