<div class="mail">
   <div fxLayout="row" fxLayoutAlign="space-between center" >
       <div fxFlex="15%">
               <img class="logo" src="../../assets/images/haircraftlogo1.png">
              
               
       </div>
       <div fxFlex="20%" class="contact-font">
               <b>Address</b><br>
                NO:1-A, 3rd cross street,<br>
                Trustpuram,
                kodambakkam<br>
                Chennai-600024.
                <br><br>
                <b> Contact Us</b> haircraft.india.expo@gmail.com<br><br>
                 +91 8939929944
       </div>
       
       <div fxFlex="45%" >
                <h1>Send Us An Email</h1>
                <p>Log your Query/input over here</p>
                <div >
                       
                            <mat-form-field class="example-full-width">
                            <input #userName matInput placeholder="Your Name" >
                            </mat-form-field>
                </div>
                <div>
                       
                        <mat-form-field class="example-full-width">
                        <input #userEmail matInput placeholder="Your Email" >
                        </mat-form-field>
                </div>
                <div>
                       
                        <mat-form-field class="example-full-width">
                        <input #mailSubject matInput placeholder="Message Subject" >
                        </mat-form-field>
                </div>
                <div>
                        
                            <mat-form-field class="example-full-width">
                            <textarea #query matInput placeholder="Query/Inquiry"></textarea>
                            </mat-form-field>
                   
                </div>
               <br>
                <div fxLayout="row" fxLayoutAlign="center center" >
                <div fxFlex="45%">
                        <button (click)="onSubmit()" mat-raised-button color="accent">Submit Query / Request </button>
                </div>
                
                </div>
       </div>
       </div>


<br><br>
</div>
