<div fxLayout="row"fxLayoutAlign="space-between center" >
        <div fxFlex="28%">
        <img src="../../assets/images/Axis-Bank-logo.png">
        </div>
        <div fxFlex="33%">
                <div fxLayout="row" fxLayoutAlign="space-between center" >   
                        <h2>Our Bank Details</h2>         
           </div>
           <hr >
           <div fxLayout="row" fxLayoutAlign="space-between center" >   
                   <h4><b>Bank Name:</b> Axis Bank</h4>   
                 
           </div>
           <div fxLayout="row" fxLayoutAlign="space-between center"  >   
                   <h4><b>A/C Name:</b>HairCraft</h4> 
                 
           </div>
           <div fxLayout="row" fxLayoutAlign="space-between center"  >   
                   <h4><b>A/C No:</b>919020078738705</h4> 
                 
           </div>
           <div fxLayout="row" fxLayoutAlign="space-between center"  >   
                   <h4><b>IFSC Code:</b>UTIB0000866</h4> 
                 
           </div>
           <div fxLayout="row" fxLayoutAlign="space-between center" >   
                   <h4><b>Branch:</b>Kodambakkam</h4> 
                 
           </div>
        </div>
</div>


     





