<div class="footer">
        <div fxLayout="row" fxLayoutAlign="start center" >
        <!-- <div fxFlex="10%"    class="two_one" > <h5>Go Social</h5></div> -->
        <div fxFlex="10%"   class="two_one"><p>Connect Us</p></div>
        <div fxFlex="5%"    class="two_one" ><a href="https://www.facebook.com/Haircraft.india/" target="blank"><img src="../../assets/images/footer-img/fb.png"></a></div>
        <div fxFlex="5%"    class="two_one" ><a href="https://www.instagram.com/haircraft.india/" target="blank"><img src="../../assets/images/footer-img/insta.png"></a></div>
        <div fxFlex="5%"    class="two_one" ><a href="https://www.youtube.com/channel/UC71kRZUBqEyVn23BktTURtg?disable_polymer=true" target="blank"><img src="../../assets/images/footer-img/youtube.png"></a></div>
        <div fxFlex="5%"    class="two_one" ><a href="https://twitter.com/haircraft_india" target="blank"><img src="../../assets/images/footer-img/twitter.png"></a></div>
        <div fxFlex="4%"    class="two_one" ><a href="https://in.pinterest.com/haircraft_india" target="blank"><img src="../../assets/images/footer-img/pinetran.png"></a></div>
        <div fxFlex="45%"   class="two_one"></div>
        <div fxFlex="30%"   class="two_one"><p>HairCraftIndia@2019 - All Rights are Reserved</p></div>
</div>
</div>

